<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Posts</title>
  </head>
  <body class="bg-gray-200 overflow-scroll">
    <div class="flex flex-row bg-blue-900">
      <div class="text-white h-12 pl-32 py-4 basis-1/4">
        <nav class="flex flex-col gap-4 mt-5 px-2">
          <div class="text-3xl font-bold py-8 pr-5">
            <h3>Welcome back!</h3>
            <h3 class="text-gray-400 text-2xl font-normal">@<%= username %></h3>
          </div>

          <div>
            <a
              href="/posts/new_post"
              class="bg-blue-400 w-48 mt-5 hover:bg-blue-600 text-white font-bold py-3 px-5 rounded-full"
              >New Post</a
            >
          </div>
          <div>
            <a
              href="/logout"
              class="mt-1 group flex items-center px-2 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300"
              >Log out</a
            >
          </div>
        </nav>
      </div>
      <% articles.forEach(article => { %>
      <div class="max-w-5xl border border-gray-600 h-auto border-t-0 basis-3/4">
        <ul class="px-6 pt-6">
          <li class="flex flex-col gap-3">
            <div class="flex flex-col gap-3">
              <div class="flex items-center">
                <h4
                  class="text-lg leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150"
                >
                  @<%= article.Username %>
                </h4>
              </div>
              <h4 class="text-base leading-6 font-medium text-white">
                <%= article.Title %>
              </h4>
              <p class="text-sm leading-6 font-normal text-white">
                <%= article.Content %>
              </p>
              <div class="flex flex-row-reverse gap-2">
                <a
                  href="/posts/edit/<%= article.Id %>"
                  class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-1 px-2 border border-white hover:border-transparent rounded-md"
                  >Edit</a
                >
                <form
                  action="/posts/delete/<%= article.Id %>?_method=DELETE"
                  method="post"
                >
                  <button
                    type="submit"
                    class="bg-transparent hover:bg-red-600 text-white font-extralight hover:text-white py-1 px-1 border border-white hover:border-transparent rounded-md"
                  >
                    Delete
                  </button>
                </form>
              </div>
            </div>
            <div>
              <% articles.map(i=>{i['comments'].map(c=>{if
              (c['Article_ID']===article.Id) {%>
              <div class="comment-container flex flex-col gap-1">
                <h6
                  class="text-base leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150"
                >
                  @<%= c['Username'] %>
                </h6>
                <p class="text-gray-200"><%= c['Comment'] %></p>
              </div>
              <%}})})%>
            </div>
            <div class="comment-input-container">
              <form action="posts/post_comment" method="post">
                <input
                  type="hidden"
                  name="Article_ID"
                  value="<%= article.Id %>"
                />
                <textarea
                  name="CommentInput"
                  cols="30"
                  rows="2"
                  placeholder="Your comment here"
                  class="resize-none bg-transparent text-gray-400 font-medium text-lg w-full"
                ></textarea>
                <div class="flex flex-row-reverse py-1">
                  <button
                    type="submit"
                    class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-3 border border-white hover:border-transparent rounded-xl"
                  >
                    Comment
                  </button>
                </div>
              </form>
            </div>
            <div class="comment-list-container"></div>
          </li>
        </ul>
        <hr class="border-gray-600" />
        <%}) %>
      </div>
    </div>
  </body>
</html>
